body{
    background-color: #525252;
}
.centered-form{
    margin-top: 30px;
    margin-left: 20px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}